@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.bg-color {
    background-color: var(--fc-white);
    box-shadow: 0px 1px 10px 0px var(--fc-black-shadow);
}

.dig {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xxl);
    line-height: 46px;
    color: var(--fc-orange);
    font-weight: 600;
}

.iency {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xxl);
    line-height: 46px;
    color: var(--fc-black);
    font-weight: 600;
}

.home {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 30px;
    color: var(--fc-black);
}

.home:hover {
    color: var(--fc-orange);
    transition: 1s;
}

/* ............................hero-section..................................... */
.padding-1 {
    padding-top: 153px;
    padding-bottom: 153px;
}

.bg-color1 {
    background-color: var(--fc-primary-white);
}

.heading-1 {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xxl);
    font-weight: 700;
    line-height: 38.62px;
    color: var(--fc-black);
    max-width: 440px;
    padding-bottom: 11px;
}

.text-color {
    color: var(--fc-orange);
}

.para-1 {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    max-width: 493px;
    color: var(--fc-gray);
}

.contact-btn {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 25px;
    color: var(--fc-white);
    box-shadow: 4px 5px 15px 0px var(--fc-orange-shadow);
    padding: 13px 22px 12px 19px;
    background-color: var(--fc-orange);
    border-radius: 5px;
    border: 1px solid var(--fc-orange);
}

.contact-btn:hover {
    background-color: var(--fc-white);
    color: var(--fc-orange);
    transition: 1s;
}

.iconbox-card {
    transition: all 600ms linear;
    position: absolute;
    top: -37%;
    bottom: 0;
    right: -42%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-box {
    background: var(--fc-white);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.icon-box:hover {
    background-color: var(--fc-orange);
    box-shadow: 1px 7px 10px 0px var(--fc-primary-shadow);
    transition: 1s;
}

.icon-box:hover svg path {
    fill: var(--fc-white);
}

section:hover .iconbox-card {
    right: 0;
}

/* ........................................section-about-us.......................................... */
.about-us {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--fc-gray);
}

.heading-2 {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 31px;
    max-width: 329px;
    padding-bottom: 18px;
}

.padding-2 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.para-2 {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--fc-gray);
    max-width: 569px;
}

.max-w-img {
    max-width: 684px;
}

.card-box {
    box-shadow: 0px 1px 10px var(--fc-black-shadow);
    padding: 25px 33px 21px 31px;
}

.circle1 {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: var(--fc-orange);
    box-shadow: 4px 5px 15px 0px var(--fc-primary-orange);
}

.circle2 {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: var(--fc-gray);
    box-shadow: 4px 5px 15px 0px var(--fc-black-shadow1);
}

.circle3 {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: var(--fc-blue);
    box-shadow: 4px 5px 15px 0px var(--fc-blue-shadow);
}

.circle4 {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: var(--fc-black);
    box-shadow: 4px 5px 15px 0px var(--fc-black-shadow1);
}

.finance {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24.1px;
    text-align: center;
    color: var(--fc-black);
    padding-top: 36px;
}

.margin-t {
    margin-top: 60px;
}

.curser {
    cursor: pointer;
}

/* ........................................our-experience.................................. */
.padding-3 {
    padding-top: 83px;
    padding-bottom: 83px;
}

.card-box1 {
    box-shadow: 0px 1px 10px 0px var(--fc-black-shadow);
    padding: 74px 52px 74px 53px;
    background-color: var(--fc-white);
}

.number {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xxxxl);
    font-weight: 700;
    line-height: 59.33px;
    color: var(--fc-black);
    padding-bottom: 18px;
}

.global {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--fc-grayfc);
}

.margin-t1 {
    margin-top: 30px;
}

.padding-t1 {
    padding-bottom: 83px;
}

.padding-bt {
    padding-top: 83px;
    padding-bottom: 83px;
}

/* ........................................................team-member................ */

.box-1 {
    background: var(--fc-white);
    box-shadow: 0px 1px 10px 0px var(--fc-black-shadow);
    overflow: hidden;
    /* max-width: 270px;
    min-height: 350px; */
}


.iconboxcontainer {
    transition: all 300ms linear;
    position: absolute;
    top: 0;
    right: -42%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.box-1:hover .iconboxcontainer {
    right: 0;
}

.gustavo {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--fc-black);
}

.designer {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--fc-gray);
    padding-top: 12px;
}

.margin-t {
    margin-top: 60px;
}

.overflow-x-scroll {
    margin-top: 12px;
}

/* ..................................our-worgk........... */
.all {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 500;
    line-height: 30px;
    color: var(--fc-gray);
    white-space: nowrap;

}

.all:hover {
    color: var(--fc-orange);
    transition: 1s;
}

.paddding-b {
    padding-bottom: 60px;
}

.gridbox {
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-row-gap: 12px;
    grid-column-gap: 12px;
}

.d-grid {
    display: grid;
}

.grid-item-1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-item-2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid-item-3 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.grid-item-4 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.grid-item-5 {
    grid-row: 5/6;
    grid-column: 1/2;
}

.grid-item-6 {
    grid-row: 6/7;
    grid-column: 1/2;
}

.work-card {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--fc-primary-orange);
    transition: all 200ms linear;
    /* padding: 50px 60px 47px 60px; */
    padding-bottom: 47px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
}

.img-card:hover .work-card {
    opacity: 1;
}

.latest-work {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 30.9px;
    color: var(--fc-white);
}

.ux-design {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--fc-white);
}

/* .........................................clients-feedback-slider-1 ...........................*/
.max-w-text {
    max-width: 265px;
}

.padding-4 {
    padding-top: 60px;
    padding-bottom: 90px;
}

.slider-box {
    padding: 26px 12px 18px 35px;
    background-color: var(--fc-orange);
    max-width: 510px;
    min-height: 270px;
}

.img-absolute {
    position: absolute;
    top: 25px;
    left: -20px;
}

.justin {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 500;
    line-height: 30.9px;
    color: var(--fc-white);
}

.ceo {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--fc-white);
}

.lorem {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--fc-white);
    max-width: 370px;
}

.padding-b1 {
    padding-bottom: 60px;
}

.slick-track {
    margin-left: -29px !important;
    gap: 55px !important;
}

.slick-dots {
    bottom: -65px !important;
}

.slick-dots li button:before {
    font-size: 15px !important;

}

.max-w-text1 {
    max-width: 306px;
}

.slick-dots li.slick-active button:before {
    color: var(--fc-black);
    width: 49px !important;
    height: 16px !important;
    border-radius: 10px !important;
    background: var(--fc-black);
    z-index: 1;
    transition: all 200ms linear;
    opacity: 1.25;
}

.img-w1 {
    width: 40px;
}

/* ..........................................................our-blog-slider-2.............................. */
.slider-box1 {
    padding: 25px;
    background-color: var(--fc-white);
    max-width: 570px;
    min-height: 294px;
    box-shadow: 0px 1px 10px 0px var(--fc-black-shadow);

}

.graphic-d {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24.1px;
    color: var(--fc-orange);
    padding-bottom: 18px;
}

.stellar {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 500;
    line-height: 30.9px;
    max-width: 170px;
    color: var(--fc-black);
    padding-bottom: 29px;
}

.img-w {
    width: 80px;
    height: 80px;
}

.cristofer {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--fc-black);
    padding-bottom: 1px;
}

.january {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 15.82px;
    color: var(--fc-gray);
    white-space: nowrap;
}

.slick-track1 {
    gap: 11px !important;
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

/* .slick-slide>div {
    display: flex;
    max-width: 570px;
}

.slick-slide .slick-active {
    max-width: 605px;
} */

/* .......................................contact-us section....................... */
.contact-card {
    box-shadow: 0px 1px 10px 0px var(--fc-black-shadow);
    background-color: var(--fc-white);
    padding: 18px 0 24px 18px;
}

.mail-circle {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background-color: var(--fc-orange);
    box-shadow: 4px 5px 15px 0px var(--fc-primary-orange);
}

.drop-line {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 500;
    line-height: 30.9px;
    color: var(--fc-orange);
    padding-bottom: 11px;
}

.mail-us {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xxl);
    font-weight: 600;
    line-height: 38.62px;
    color: var(--fc-black);
    padding-bottom: 38px;
}

.support {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 24.72px;
    color: var(--fc-gray);
}



@media (max-width:991.99px) {
    .iconbox {
        width: 30px;
        height: 30px;
        position: relative;
        flex-direction: column;
        display: flex;
        z-index: 2;
        justify-content: space-between;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 5px;
        background-color: var(--fc-black);
    }

    .menulist {
        display: flex;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 1;
        align-items: center;
        justify-content: center;
        top: 0;
        right: -100%;
        transition: all 400ms linear;
        background-color: var(--fc-white);
        flex-direction: column;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    ul.menulist.show {
        right: 0;
    }
}

@media(max-width:991.99px) {
    .overflowauto {
        overflow: auto;
        margin-bottom: 15px;
    }

    .scrollbar::-webkit-scrollbar {
        height: 5px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: var(--fc-white);
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: var(--fc-orange);
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: var(--fc-orange);
    }
}

@media(min-width:576px) {
    .heading-1 {
        line-height: 48.28px;
        max-width: 349px;
    }

    .heading-2 {
        line-height: 38.62px;
        max-width: 494px;
    }

    .max-w-t2 {
        max-width: 383px;
    }

    .grid-item-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-item-2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .grid-item-3 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .grid-item-4 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .grid-item-5 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .grid-item-6 {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .max-w-text {
        max-width: 368px;
    }

    .max-w-text1 {
        max-width: 434px;
    }

    .stellar {
        max-width: 217px;
    }

    .img-w {
        width: 80px;
        height: 80px;
    }

    .slider-box {
        padding: 34px 35px 25px 65px;
    }

    .slick-track {
        margin-left: 7px !important;
        gap: 78px !important;
    }

    .img-w1 {
        width: 80px;
    }

    .img-absolute {
        position: absolute;
        top: 25px;
        left: -40px;
    }
}

@media(min-width:992px) {
    .iconbox-card {
        top: -125px;
    }

    .heading-1 {
        line-height: 59px;
        max-width: 440px;
    }

    .heading-2 {
        line-height: 48.28px;
        max-width: 494px;
    }

    .max-w-t {
        max-width: 446px;
    }

    .grid-item-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-item-2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .grid-item-3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .grid-item-4 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .grid-item-5 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .grid-item-6 {
        grid-row: 2/4;
        grid-column: 3/4;
    }

    .max-w-t2 {
        max-width: 649px;
    }

    .padding-t {
        padding-top: 60px;
        padding-bottom: 83px;
    }

    .padding-t1 {
        padding-top: 83px;
        padding-bottom: 60px;
    }

    .max-w-text {
        max-width: 460px;
    }

    .max-w-text1 {
        max-width: 542px;
    }

    .stellar {
        max-width: 308px;
    }

    .img-w {
        width: 164px;
        height: 164px;
    }

    .slick-track {
        margin-left: 12px !important;
        gap: 70px !important;
    }

}

@media(min-width:1200px) {
    .iconbox-card {
        top: -50px;
    }

    .slick-track {
        margin-left: 22px !important;
        gap: 60px !important;
    }
}